<kendo-tabstrip>
  <kendo-tabstrip-tab title="Basic info" [selected]="true">
    <ng-template kendoTabContent>
      <form class="k-form" [formGroup]="form">
        <div class="row align-bottom">
          <div class="col-md-6">
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="userId" text="Id"></kendo-label>
              <kendo-textbox
                #userId
                [readonly]="true"
                formControlName="id"
              >
              </kendo-textbox>

            </kendo-formfield>
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="firstname" text="First Name *"></kendo-label>
              <kendo-textbox
                #firstname
                [clearButton]="true"
                required
                formControlName="firstName"
              >
              </kendo-textbox>

              <kendo-formerror *ngIf="firstName.touched && firstName.invalid"
              >Error: First name is required</kendo-formerror
              >
            </kendo-formfield>
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="lastname" text="Last Name *"></kendo-label>
              <kendo-textbox
                #lastname
                [clearButton]="true"
                required
                formControlName="lastName"
              >
              </kendo-textbox>

              <kendo-formerror *ngIf="lastName.touched && lastName.invalid"
              >Error: Last Name is required</kendo-formerror
              >
            </kendo-formfield>

          </div>
          <div class="col-md-6">
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="titleid" text="Title *"></kendo-label>
              <kendo-textbox
                #titleid
                [clearButton]="true"
                required
                formControlName="title"
              >
              </kendo-textbox>

              <kendo-formerror *ngIf="title.touched && title.invalid"
              >Error: Title is required</kendo-formerror
              >
            </kendo-formfield>
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="dateofbirth" text="Date of Birth *"></kendo-label>
              <kendo-textbox
                #dateofbirth
                [clearButton]="true"
                required
                formControlName="dateOfBirth"
              >
              </kendo-textbox>

              <kendo-formerror *ngIf="dateOfBirth.touched && dateOfBirth.invalid"
              >Error: Date of Birth is required</kendo-formerror
              >
            </kendo-formfield>
          </div>

        </div>

        <div class="buttons pt-4">

          <button
            kendoButton
            size="medium"
            themeColor="primary"
            class="k-mr-2"
          >
            Create
          </button>
          <button
            kendoButton
            size="medium"
            themeColor="secondary"
          >
            Edit
          </button>
        </div>

      </form>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="Projects" >
    <ng-template kendoTabContent>
      <kendo-grid [data]="employeeProjects"
                  [pageSize]="5"
      >
        <kendo-grid-column field="id" title="Id"> </kendo-grid-column>
        <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
      </kendo-grid>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>

<kendo-grid (selectionChange)="selectedEmployee($event)"
            [data]="employees"
            [pageSize]="5"
            [pageable]="true"
            [selectable]="true"
>
  <kendo-grid-column field="id" title="Id"></kendo-grid-column>
  <kendo-grid-column field="firstName" title="First Name"></kendo-grid-column>
  <kendo-grid-column field="lastName" title="Last Name"></kendo-grid-column>
  <kendo-grid-column field="title" title="Title"></kendo-grid-column>
  <kendo-grid-column field="dateOfBirth" title="Date Of Birth"></kendo-grid-column>
</kendo-grid>
