<kendo-tabstrip>
  <kendo-tabstrip-tab title="Basic info" [selected]="true">
    <ng-template kendoTabContent>
      <form class="k-form" [formGroup]="form">
        <div class="row align-bottom">
          <div class="col-md-6">
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="userId" text="Id"></kendo-label>
              <kendo-textbox
                #userId
                [readonly]="true"
                formControlName="id"
              >
              </kendo-textbox>

            </kendo-formfield>
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="nameId" text="Name *"></kendo-label>
              <kendo-textbox
                #nameId
                [clearButton]="true"
                required
                formControlName="name"
              >
              </kendo-textbox>

              <kendo-formerror *ngIf="name.touched && name.invalid"
              >Error: name is required</kendo-formerror
              >
            </kendo-formfield>


          </div>
          <div class="col-md-6">
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="startDateId" text="Start Date *"></kendo-label>

              <kendo-datetimepicker #startDateId
                                    required
                                    format="yyyy/dd/MM HH:mm:ss"
                                    [format]="fullFormat"
                                    [(value)]="startDateValue"
                                    formControlName="startDate">
              </kendo-datetimepicker>

              <kendo-formerror *ngIf="startDate.touched && startDate.invalid"
              >Error: Last Name is required</kendo-formerror
              >
            </kendo-formfield>
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="endDateId" text="End Date *"></kendo-label>
              <kendo-datetimepicker #endDateId
                                    required
                                    [format]="fullFormat"
                                    [(value)]="endDateValue"
                                    formControlName="endDate">
              </kendo-datetimepicker>

              <kendo-formerror *ngIf="endDate.touched && endDate.invalid"
              >Error: End Date is required</kendo-formerror
              >
            </kendo-formfield>
            <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="statusId" text="Status *"></kendo-label>
              <kendo-textbox
                #statusId
                [clearButton]="true"
                required
                formControlName="status"
              >
              </kendo-textbox>

              <kendo-formerror *ngIf="status.touched && status.invalid"
              >Error: Date of Birth is required</kendo-formerror>
            </kendo-formfield>
          </div>

        </div>

        <div class="buttons pt-4">

          <button
            kendoButton
            size="medium"
            themeColor="primary"
            class="k-mr-2"
          >
            Create
          </button>
          <button
            kendoButton
            size="medium"
            themeColor="secondary"
          >
            Edit
          </button>
        </div>

      </form>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>

<kendo-grid (selectionChange)="selectedProject($event)"
            [data]="projects"
            [pageSize]="5"
            [pageable]="true"
            [selectable]="true"
>
  <kendo-grid-column field="id" title="Id"></kendo-grid-column>
  <kendo-grid-column field="name" title="First Name"></kendo-grid-column>
</kendo-grid>
