
  <div class="sitebar">
    <div class="custom-toolbar">
      <button kendoButton icon="layout" fillMode="flat" (click)="drawer.toggle()">
        <span class="mail-box">Trokit</span>
      </button>
    </div>
    <kendo-drawer-container class="customClass">
      <kendo-drawer
        #drawer
        [items]="items"
        mode="push"
        [mini]="true"
        [expanded]="true"
        (select)="onSelect($event)"
      >
      </kendo-drawer>
      <kendo-drawer-content>
        <div class="wrapper">
          <router-outlet></router-outlet>
        </div>
      </kendo-drawer-content>
    </kendo-drawer-container>
  </div>



